<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>STUDENT REGISTRATION</h1>
    <button id="b1" type="button" class="btn btn-primary btn-lg" >
        <a href="add">Add student</a>
        </button>
    <button type="button" class="btn btn-secondary btn-lg">
        <a href="login">Login</a>
    </button>
</body>
</html>