
    <header>
        <nav class="navbar">
            <ul class="navigation">
                <li class="item">
                    <a class="item" href="/">home</a>
                </li>
                <li class="item">
                    <a class="item" href="/about">About</a>
                    </li>
                <li class="item">hello</li>
                <li class="item">Contact Us</li>
            </ul>
        </nav>
    </header>